<!-- 
Author: Blake McGillis
Date: April 23, 2015
-->

<!DOCTYPE html>
<html>
<head>
  <title>Todo List App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <!-- Display sign in options and information -->
    <% if user_signed_in? %>
        <p class="alert alert-info inblock ten-px-margin">You are signed in as <%= current_user.email %></p>
        <p class="option-links inblock">
            <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
        </p>
    <% else %>
        <p class="alert alert-info inblock option-links ten-px-margin">
            <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %>
        </p>
    <% end %>
    <div class="container">
        <div class="row">
            <div class="center-block col-md-7 top-margin text-center">
                <div class="jumbotron">
                    <%= yield %>
                </div>
            </div>
        </div>
    </div>
</body>
</html>